.editor-container {
    position: relative;
    line-height: 20px;
    color: #444;
    font-weight: 400;
    text-align: left;
    border-radius: 4px;
    background: #fff;
}

.editor-input {
    min-height: 150px;
    resize: none;
    font-size: 15px;
    caret-color: #444;
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 10px;
}

.editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 10px;
    left: 10px;
    font-size: 15px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
}

.editor-paragraph {
    margin: 0 0 8px;
    position: relative;
}

.editor-heading-h1 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin: 0 0 12px;
    padding: 0;
}

.editor-heading-h2 {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
}

.editor-quote {
    margin: 0 0 0 20px;
    font-size: 15px;
    color: rgb(101, 103, 107);
    border-left-color: rgb(206, 208, 212);
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 16px;
}

.editor-list-ol {
    padding: 0;
    margin: 0;
    margin-left: 16px;
}

.editor-list-ul {
    padding: 0;
    margin: 0;
    margin-left: 16px;
}

.editor-listitem {
    margin: 8px 32px 8px 32px;
}

.editor-link {
    color: rgb(33, 111, 219);
    text-decoration: underline;
}

.cmd-pressed .editor-link {
    cursor: pointer;
}